@using UniversityCourseManagementSystem.Models


@{
    ViewBag.Title = "title";
}

<div class="all-content-wrapper">
<div class="card">
    <h2><u>View Class Schedule And Room Allocation Information</u>
    </h2><br/><br/>

    <form id="viewCourseStatics" method="POST">
        <div class="form-group row">
            <label for="DepartmentId" class="col-sm-2 col-form-label col-form-label-sm">Department</label>
            <div class="col-sm-10">
                <select class="form-control form-control-sm" id="DepartmentId" name="DepartmentId">
                    <option value="">---Select---</option>
                    @foreach (Department department in ViewBag.Departments)
                    {
                        <option value="@department.Id">@department.DeptName</option>
                    }
                </select>
            </div>
        </div>
    </form>

    <table id="viewClassSchedule" class="table">
        <thead bgcolor="GRAY">
        <tr>
            <td>Course Code</td>
            <td>Name</td>
            <td>Schedule Info</td>
        </tr>
        </thead>
        <tbody id="viewClassBody"></tbody>
    </table>
</div>
</div>

    @section scripts
{
        <script>
            $(function () {

                $("#viewClassSchedule").hide();
                //$("#viewClassBody").empty();

                $("#DepartmentId").change(function () {
                    $("#viewClassSchedule").show();
                    var deptId = $("#DepartmentId").val();
                    var json = { DepartmentId: deptId }
                    $.ajax({
                        type: "POST",
                        url: "/ViewInfo/GetAllScheduleInfo",
                        contentType: 'application/json',
                        data: JSON.stringify(json),
                        success: function (response) {
                            $("#viewClassBody tr").remove();
                            $.each(response, function (key, value) {
                                $("#viewClassBody").append('<tr><td>' + value.CourseCode + '</td><td>' + value.CourseName + '</td><td>' + value.ScheduleInfo + '</td></tr>');
                            });
                        }
                    });

                });
            });
        </script>
    }
